@model IEnumerable<GameBeta.Models.MyPack>
@{
	ViewBag.Title = "FlashCards";
}
<table class="table">
	<tr><td>Колода</td><td>Количество карточек</td></tr>
	@foreach (var item in Model)
	{
		<tr><td>@item.Name</td>
	        <td>@item.Cards</td>
			<td>
				<form asp-controller="Home" asp-action="Delete" method="post">
					<input type="hidden" name="id" value=@item.Id />
					<input type="submit" class="btn btn-default" value="Удалить" />
				</form>
			</td>
	    </tr>
	}
</table>
<a asp-action="Create">Добавить колоду</a>
